*.iml
/.idea
/modules/generic/target
/modules/model/target
/modules/rules/target
/modules/uci/target
/modules/swing_gui/target

/modules/swing_gui/workdir/chess-components-exceptions.log
/modules/swing_gui/workdir/chess-components.log
/modules/swing_gui/workdir/chess-components-exceptions.log.2012.02.09.log.1
/modules/swing_gui/workdir/chess-components.log.2012.02.09.log.1