*.iml
/.idea
/modules/generic/target
/modules/model/target
/modules/rules/target
/modules/uci/target
/modules/swing_gui/target

/modules/swing_gui/workdir/chess-components-exceptions.log
/modules/swing_gui/workdir/chess-components.log